
.header .container-fluid{
	background-color: #3477eb;
	padding-top: 15px;

	
}


button{
	border-color: white;
 	background-color: white;
 	border-radius: 3px;
  	border: none;
  	padding: 5px 25px;
 
}


.header h1{
	font-size: 2.3em;
	color: #ffffff;
	text-transform: uppercase;
}

.main{
    
    background: #eee url("../img/photo.jpg");
    background-size: cover;
    height: 250px;
	
}

.main h1{
    font-size: 1.8em;
	padding-top: 20px;
	padding-left: 10px;
	color: #ffffff;
	
}



.scroll{
	overflow-x: scroll;
    height: 400px;

   
	
}

.hours{
	
	display: flex;
	width: 170%;
	background-color: orange;

}

.hour{
	border-top: 5px solid #fc8c03;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    background-color: #dedede;
    height: 380px;
    padding-left: 60px;
  
}

.temp{

	padding-top: 20px;
	padding-left: 10px;
}

.rain{

	padding-top: 50px;
	padding-left: 10px;
}

.wind{

	padding-top: 50px;
}

.weatherIcon{

	padding-top: 50px;
	padding-left: 10px;

}

.weatherIcon i{

	font-size: 20px;
}

.humidityIcon{
	color: #00a6ff;
	padding-top: 40px;
	padding-left: 8px;
}

.humidityIcon i{

	font-size: 20px;
}


.main .blocks .weekDay1 i{
	color: grey;
	padding-left: 10px;

}


.laipsniai0 p{
   
    font-size: 0.8em;
}

.monday p {

	font-size: 0.8em;
}

.days{

	display: flex;

}
.Day{
	border-top: 5px solid #fc8c03;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    background-color: #dedede;
    height: 150px;
    padding-left: 80px;
    padding-top: 15px;
  
}

.todayWeatherIcon i {

	font-size: 1.5em;
}