
.header .container-fluid{
	background-color: #3477eb;
	padding-top: 15px;

	
}

.header h1{
	font-size: 2.3em;
	color: #ffffff;
	text-transform: uppercase;
}

.main{
    
    background: #eee url("../img/photo.jpg");
    background-size: cover;
    height: 250px;
	
}

.main h1{
    font-size: 1.8em;
	padding-top: 20px;
	padding-left: 10px;
	color: #ffffff;
	
}

.blocks{

	padding-left: 10px;
}

.weekDay1{
 	
	display: inline-flex;
	background-color: #dedede;
	width: 250px;
	height: 160px;

	
}

.weekDay2{
 	
	display: inline-flex;
	background-color: #dedede;
	width: 200px;
	height: 150px;
		
}

.weekDay3{
 	
	display: inline-flex;
	background-color: #dedede;
	width: 200px;
	height: 150px;
		
}

.weekDay4{
 	
	display: inline-flex;
	background-color: #dedede;
	width: 200px;
	height: 150px;
		
}

.weekDay5{
 	
	display: inline-flex;
	background-color: #dedede;
	width: 200px;
	height: 150px;
		
}

.weekDay6{
 	
	display: inline-flex;
	background-color: #dedede;
	width: 200px;
	height: 150px;
		
}

.weekDay7{
 	
	display: inline-flex;
	background-color: #dedede;
	width: 200px;
	height: 150px;
		
}

.scroll{
	overflow-x: scroll;
    height: 300px;

   
	
}

.hours{

	display: flex;
	width: 180%;

}

.hour{
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background-color: #dedede;
    height: 280px;
    padding-left: 50px;
  
}

.temp{

	padding-top: 50px;
}

.rain{

	padding-top: 50px;
}

.wind{

	padding-top: 80px;
}

.main .blocks .weekDay1 i{
	color: grey;
	padding-left: 10px;

}


.laipsniai0 p{
   
    font-size: 0.8em;
}

.monday p {

	font-size: 0.8em;
}


.blocks2{
	
	padding-top: 5px;
	padding-left: 20px;
}
.scroll .weekDay1_1{
	
	background-color: lightgrey;
	display: inline-flex;
	padding-left: 40px;
	width: 150px;
	height: 400px;

}

.scroll .weather1 i{

	padding-top: 50px;

}
.scroll .temp1 p{

	padding-top: 150px;

}

.scroll .humidity1 p{

	padding-top: 225px;

}

.scroll .wind1 p{

	padding-top: 300px;
	padding-left: 10px;

}


.scroll .weekDay2_2{
	
	background-color: lightgrey;
	display: inline-flex;
	padding-left: 50px;
	width: 150px;
	height: 400px;


}

.scroll .weather2 i{

	padding-top: 50px;

}
.scroll .temp2 p{

	padding-top: 150px;

}

.scroll .humidity2 p{

	padding-top: 225px;

}

.scroll .wind2 p{

	padding-top: 300px;
	padding-left: 10px;

}

.scroll .weekDay3_3{
	
	background-color: lightgrey;
	display: inline-flex;
	padding-left: 50px;
	width: 150px;
	height: 400px;


}

.scroll .weather3 i{

	padding-top: 50px;

}
.scroll .temp3 p{

	padding-top: 150px;

}

.scroll .humidity3 p{

	padding-top: 225px;

}

.scroll .wind3 p{

	padding-top: 300px;
	padding-left: 10px;

}

.scroll .weekDay4_4{
	
	background-color: lightgrey;
	display: inline-flex;
	padding-left: 50px;
	width: 150px;
	height: 400px;


}

.scroll .weather4 i{

	padding-top: 50px;

}
.scroll .temp4 p{

	padding-top: 150px;

}

.scroll .humidity4 p{

	padding-top: 225px;

}

.scroll .wind4 p{

	padding-top: 300px;
	padding-left: 10px;

}

.scroll .weekDay5_5{
	
	background-color: lightgrey;
	display: inline-flex;
	padding-left: 50px;
	width: 150px;
	height: 400px;


}

.scroll .weather5 i{

	padding-top: 50px;

}
.scroll .temp5 p{

	padding-top: 150px;

}

.scroll .humidity5 p{

	padding-top: 225px;

}

.scroll .wind5 p{

	padding-top: 300px;
	padding-left: 10px;

}

.scroll .weekDay6_6{
	
	background-color: lightgrey;
	display: inline-flex;
	padding-left: 50px;
	width: 150px;
	height: 400px;


}

.scroll .weather6 i{

	padding-top: 50px;

}
.scroll .temp6 p{

	padding-top: 150px;

}

.scroll .humidity6 p{

	padding-top: 225px;

}

.scroll .wind6 p{

	padding-top: 300px;
	padding-left: 10px;

}

.scroll .weekDay7_7{
	
	background-color: lightgrey;
	display: inline-flex;
	padding-left: 40px;
	width: 150px;
	height: 400px;

}

.scroll .weather7 i{

	padding-top: 50px;

}
.scroll .temp7 p{

	padding-top: 150px;

}

.scroll .humidity7 p{

	padding-top: 225px;

}

.scroll .wind7 p{

	padding-top: 300px;
	padding-left: 10px;

}
